@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main: #101111;
  --primary-dark: #638596;
  --primary-dark-80: #63859680;
  --primary-dark-50: #63859650;
  --secondary: #C4EBFF;
}

::-webkit-scrollbar {
  @apply hidden
}

@keyframes slide-up {
  from {
    transform: translateY(15%); /* Mulai dari luar layar ke bawah */
  }
  to {
    transform: translateY(0); /* Akhir di posisi normal */
  }
}

.animate-slide-up {
  animation: slide-up 0.2s ease-out;
}